@import "assets/normalize.scss";
@import "assets/_colors.scss";
@import "assets/_navbar.scss";
@import "assets/_form.scss";
@import "assets/_table.scss";

/* GLOBAL ============================================== */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100%;
    background: url("../img/tile.jpg") repeat;
    font-family: "Times New Roman", Georgia, Serif;
    font-size: 16px;
    line-height: 1.3rem;
}

b, strong {
  -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
    &:hover {
        cursor: pointer;
        text-decoration: none;
    }
    &:visited {
        text-decoration: none;
    }
    &:link {
        text-decoration:none;
    }
}


img {
    width:  100%;
    height: auto;
}

.container {
    padding: 0;
    max-width: 1000px;
    margin: auto;
}

.two-columns {
    width: 50%;
    float: left;
}

.column-r-padding {
    padding-right: 30px;
}

.column-l-padding {
    padding-left: 30px;
}

.column-t-padding {
    padding-top: 30px;
}

.clearfix {
    clear: both;
}

#templates-body {
    background-color: #FFF;
    padding: 182px 35px 60px 270px;
    min-height: 100vh;
}

.hero {
    position: relative;
    margin-bottom: 20px;
    height: 225px;
    background-size: cover;
}

.hero-about {
    background: url("../img/hero-bg-1.jpg") no-repeat center;
}

.hero-loan {
    background: url("../img/hero-bg-2.jpg") no-repeat center;
}

.hero-lender {
    background: url("../img/hero-bg-4.jpg") no-repeat center;
}

.hero-note {
    background: url("../img/hero-bg-5.jpg") no-repeat center;
}

.hero-contact {
    background: url("../img/hero-bg-3.jpg") no-repeat center;
}

.page-title {
    position: absolute;
    text-align: center;
    letter-spacing: .2rem;
    font-weight: bold;
    font-size: 36px;
    line-height: 30px;
    width: 100%;
    color: #fff;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
}

.contact-page, .loan-page {
    a {
        color: black !important;
        &:hover {
            color: black;
            cursor: pointer;
            text-decoration: underline;
        }
        &:visited {
            color: black;
            text-decoration: none;
        }
    }
}

footer {
    background-color: white;
    text-align: center;
    font-size: 12px;
    color: rgba(0,0,0,0.7);
    padding: 20px 0;
    span {
        padding: 0 20px;
    }
    
    a {
        color: $green !important;
        &:hover {
            color: $dark-green;
            cursor: pointer;
            text-decoration: underline;
        }
        &:visited {
            color: $green;
            text-decoration: none;
        }
    }
}

@media screen and (max-width: 768px) {
    header {
        position: fixed;    
    }
    
    #templates-body {
        padding: 100px 15px 60px;
    }
    
    body {
        margin-top: 0;
    }
    
    .two-columns {
        width: 100%;
    }
    
    .hero {
        height: 100px;
    }
    
    .column-l-padding, .column-r-padding {
        padding-left: 0;
    }
    
    footer {
        a, span {
            display: none;
        }
    }
}