@import "assets/normalize.scss";
@import "assets/_colors.scss";
@import "assets/_navbar.scss";
@import "assets/_form.scss";
@import "assets/_table.scss";

/* GLOBAL ============================================== */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100%;
    background: url("../img/tile.jpg") repeat;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: light;
    font-size: 0.8rem;
    line-height: 1.2rem;
    color: #666;
}

b, strong {
  -webkit-font-smoothing: antialiased;
}

#success, #error {
    display:none
}

a {
    text-decoration: none;
    &:hover {
        cursor: pointer;
        text-decoration: none;
    }
    &:visited {
        text-decoration: none;
    }
    &:link {
        text-decoration:none;
    }
}


img {
    width:  100%;
    height: auto;
}

 /*CONTAINER ============================================== */
.container {
    padding: 0;
    max-width: 876px;
    margin: auto;
}

 /*LEFT RIGHT COLUMNS ============================================== */
.left-column {
    width: 30%;
    float: left;
}
.right-column {
    width: 70%;
    float: left;
    border-left: 1px solid #a3a3a3;
}

.column-r-padding {
    padding-right: 30px;
}

.column-l-padding {
    padding-left: 30px;
}

.column-t-padding {
    padding-top: 30px;
}

.clearfix {
    clear: both;
}

 /*MAIN TED TITLES ============================================== */
.red-title {
    color: $off-red;
    margin: 0;
    text-align: right;
    text-transform: uppercase;
    font-family: "Times New Roman", Georgia, Serif;
    font-weight: 100;
}

#templates-body {
    background-color: #FFF;
    padding: 0 7px 60px 7px;
    min-height: 100vh;
}

 /*HERO MAIN PICTURES ============================================== */

.hero {
    position: relative;
    margin-bottom: 20px;
    height: 230px;
    background-size: cover;
}

.hero-about {
    background: url("../img/hero-bg-1.jpg") no-repeat center;
}

.hero-loan {
    background: url("../img/hero-bg-2.jpg") no-repeat center;
}

.hero-lender {
    background: url("../img/hero-bg-4.jpg") no-repeat center;
}

.hero-note {
    background: url("../img/hero-bg-5.jpg") no-repeat center;
}

.hero-contact {
    background: url("../img/hero-bg-3.jpg") no-repeat center;
}

/*CONTACT PAGE ============================================== */
.contact-page {
    a {
        color: #666 !important;
        &:hover {
            color: #666;
            cursor: pointer;
            text-decoration: underline;
        }
        &:visited {
            color: #666;
            text-decoration: none;
        }
    }
}

.info {
    padding-top: 15px;
    font-size: 16px;
}

 /*LOAN PAGE BUTTON ============================================== */
  .project-button {
      position: relative;
      border: solid 1px $dark-green;
      padding: 5px 20px;
      background-color: $green;
      overflow: hidden;
      color: white;
      margin-top: 15px;
      &:hover {
      color: $green !important;
      background-color: transparent;
    }
    
    &:focus {
      outline: 0;
    }
    a {
        color: white !important;
        text-decoration: none;
        &:hover {
            color: $green !important;
            text-decoration: none;
        }
    }
  }

 /*FOOTER ============================================== */
footer {
    background-color: white;
    text-align: center;
    font-size: 12px;
    color: rgba(0,0,0,0.7);
    padding: 0 0 20px;
    margin: 0 auto;
    p {
        margin: 0;
    }
    span {
        padding: 0 20px;
    }
    
    a {
        color: $green !important;
        &:hover {
            color: $dark-green;
            cursor: pointer;
            text-decoration: underline;
        }
        &:visited {
            color: $green;
            text-decoration: none;
        }
    }
}

@media screen and (max-width: 795px) {
    #templates-body {
        padding: 80px 15px 60px;
    }
    
    .left-column, .right-column {
        width: 100%;
    }
    
    .right-column {
        border: none;
    }
    
    .red-title {
        text-align: left;
        margin-bottom: 25px;
    }
    
    .hero {
        height: 100px;
    }
    
    .column-l-padding, .column-r-padding {
        padding-left: 0;
        padding-right: 0;
    }
    
    footer {
        span {
            display: none;
        }
        
        a {
            display: block;
            padding-bottom: 15px;
        }
    }
}