<div class="hero">
    <h1 class="page-title">Contact Us</h1>
    <img src="img/hero-bg-3.jpg"/>
</div>

<div>
    <div class="row">
        <div class="col-sm-6">
        <strong>Lorem ipsum dolor sit </strong>amet, consectetuer adipiscing 
elit. Aenean commodo ligula eget dolor. Aenean massa.
Cum sociis natoque penatibus et magnis dis parturient
montes, nascetur ridiculus mus. Donec quam felis, 
ultricies nec, pellentesque eu, pretium quis, sem. 
Nulla consequat massa quis enim. Donec pede justo, 
fringilla vel, aliquet nec, <br/><br/>vulputate eget, arcu.
In enim justo, rhoncus ut, imperdiet a, venenatis 
vitae, justo. Nullam dictum felis eu pede mollis 
pretium. Integer tincidunt. Cras dapibus. Vivamus 
elementum semper nisi. Aenean vulputate eleifend tellus. 

       </div>
        <div class="col-sm-6">

<strong>Lorem ipsum dolor sit </strong>amet, consectetuer adipiscing 
elit. Aenean commodo ligula eget dolor. Aenean massa.
Cum sociis natoque penatibus et magnis dis parturient
montes, nascetur ridiculus mus. <br/><br/> Donec quam felis, 
ultricies nec, pellentesque eu, pretium quis, sem. 
Nulla consequat massa quis enim. Donec pede justo, 
fringilla vel, aliquet nec, vulputate eget, arcu.
In enim justo, rhoncus ut, imperdiet a, venenatis 
vitae, justo. Nullam dictum felis eu pede mollis 
pretium. Integer tincidunt. Cras dapibus. Vivamus 
elementum semper nisi. Aenean vulputate eleifend tellus. 
    </div>
</div>