<script src="js/contact.js"></script>

<div class="hero hero-contact">
    <h1 class="page-title">Contact Us</h1>
</div>

<div class="two-columns column-r-padding column-l-padding contact-page">
P: <a href="tel:(312) 899-6373">312.899.6373</a> <br/> 
<a href="mailto:info@armitagest.com">info@armitagest.com</a>
</div>

<div class="two-columns column-r-padding contact-form">
    <h3>Send Us a Message</h3> 
    <div id ="contactform">
        <form class="form-horizontal contact-form" role="form">
    		<div class="form-group">
    			<div id="cname-group">
                    <label>Your Name</label>                            
    				<input type="text" name="inputName" id="inputName" class="form-control required">
    			</div>
    		</div>
    		<div class="form-group">
    			<div id="cemail-group">
                    <label>Your Email</label>                            
    				<input type="email" name="inputEmail" id="inputEmail" class="form-control required email">
    			</div>
    		</div>
    		<div class="form-group">
    			<div id="cphone-group">
                    <label>Your Phone Number</label>
    				<input type="phone" name="inputPhone" id="inputPhone" class="form-control number" pattern="[\-\(\)\s0-9]{8,15}" title="Please enter a valid phone number.">
    			</div>
    		</div>
    		<div class="form-group">	
    			<div>
                    <label>Subject</label>
    				<input type="text" name="inputSubject" id="inputSubject" class="form-control required">
    			</div>
    		</div>
    		<div class="form-group">
    			<div>
    				<textarea name="inputMessage" id="inputMessage" rows="6" class="form-control required"></textarea>
    			</div>
    		</div>
    		<div class="form-group">
    			<div>
    				<button type="submit">Submit</button>
    			</div>
    		</div>
    	</form>
    </div>
</div>
<div class="clearfix"></div>

