<div class="hero hero-loan">
    <h1 class="page-title">Loan Origination</h1>
</div>

<div>
    <strong>Armitage Street LLC’s</strong> relationship-based financing program 
    is tailored toward experienced real estate entrepreneurs and strives
    to provide best in class pricing. Borrowers benefit from our Principal’s
    honed knowledge of local real estate markets, understanding of the 
    development cycle and extensive experience in evaluating residential 
    projects. We fund all of our real estate loans directly from existing
    capital—we are not a broker. <br/><br/>

    Armitage Street LLC has built a reputation for transparency, rapid 
    response times, reliable commitments, professionalism, and competitive 
    pricing and terms.  
</div>

<div>
    <table>
      <tr>
        <th>Loan Amount Per Property</th>
        <td>$100,000 to $1 million</td>
      </tr>
      
      <tr>
        <th>Loan-to-Cost</th>
        <td>Up to 80% including renovation costs</td>
      </tr>
      
      <tr>
        <th>Loan-To-Value</th>
        <td>Up to 70%</td>
      </tr>
      
      <tr>
        <th>Interest Rate & Origination Fee</th>
        <td>Commensurate with borrower’s experience and collateral</td>
      </tr>
      
      <tr>
        <th>Loan Types</th>
        <td>Acquisition, renovation, new construction and refinance</td>
      </tr>
      
      <tr>
        <th>Property Types</th>
        <td>Non-owner occupied Single Family, 2-4 Units, Townhomes and Multi-Family </td>
      </tr>
      
      <tr>
        <th>Term</th>
        <td>12 months</td>
      </tr>
      
      <tr>
        <th>Personal Guarantee</th>
        <td>Required</td>
      </tr>
      
      <tr>
        <th>Closing Time</th>
        <td>10 days or less</td>
      </tr>
      
      <tr>
        <th>Required Insurance</th>
        <td>Title insurance naming lender as insured and property insurance 
        naming lender as additional insured and loss payee</td>
      </tr>
      
      <tr>
        <th>Collateral Type</th>
        <td>First mortgage</td>
      </tr>
      
      <tr>
        <th>Prepayment restrictions or prepayment penalties</th>
        <td>None</td>
      </tr>
      
      <tr>
        <th>Appraisal Fees</th>
        <td>None</td>
      </tr>
      
      <tr>
        <th>Junk Fees</th>
        <td>None</td>
      </tr>
    </table>
</div>

<div class="column-t-padding loan-page">
  <a href="mailto:origination@armitagest.com">origination@armitagest.com</a><br/> 
P: <a href="tel:(312) 899-6373">312.899.6373</a>
</div>