<div class="hero hero-note">
    <h1 class="page-title">Note Purchases</h1>
</div>

<div>
    <strong>Armitage Street LLC</strong> is pursuing the acquisition of real estate
    secured loans with the following characteristics:<br/><br/>
    
    <ul>
        <li>Single loans or portfolios of loans</li>
        <li>Current or in default</li>
        <li>$100,000 to $1,000,000</li>
        <li>Collateral may include Non-owner occupied Single Family, 2-4 Unit, Townhomes and Multi-Family</li>
        <li>Collateral must be located in the Chicagoland area </li>
    </ul>
</div>