$green: #869995;
$dark-green: #7a8c88;
$off-red: #a95a4e;

// Original
// $green: #869995;
// $dark-green: #7a8c88;
// $off-red: #a95a4e;

// Version 1
// $green: #4f728e;
// $dark-green: #253f58;
// $off-red: #8b281f;

// Version 2
// $green: #8b98a3;
// $dark-green: #6a747d;
// $off-red: #d84728;

// Version 3
// $green: #CDCDC1;
// $dark-green: #808069;
// $off-red: #a95a4e;

// Version 4
// $green: #5B8092;
// $dark-green: #335566;
// $off-red: #A32213;

// Version 5
// $green: #5696A5;
// $dark-green: #447883;
// $off-red: #A32213;