 /*FORM ============================================== */
 .contact-form {
    h3 {
        margin: 0 0 15px 0;
    }
}

.error {
  color: #a95a4e;
}

fieldset {
  border: none;
  padding: 0;
}

.submit-button {
  position: relative;
  border: solid 1px $dark-green;
  padding: 5px 10px 3px 10px;
  background-color: $green;
  overflow: hidden;
  color: white;
  margin-top: 15px;
  margin-bottom: 3px;
}
.submit-button:hover {
  color: $green;
  background-color: transparent;
}

.submit-button:focus {
  outline: 0;
}

label {
  display: block;
  font-weight: 300;
  margin: 0;
}

.form-group {
    margin-bottom: 10px;
}

.form-group textarea {
  background-color: transparent;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="phone"],
input[type="password"],
input[type="search"],
textarea {
  color: #666;
  border: solid 1px gray;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  display: block;
  width: 100%;
  padding: 2px 6px;
  outline: none;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="phone"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
  border: solid 1px gray;
}

.form-control {
  border: gray 1px solid;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  outline: none;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  background-color: transparent;
  color: #666;
}
.form-control:focus {
  border: solid 1px gray;
}
